# Database configuration
DATABASE_URL=

# Port to use
PORT=

# Current node environment
NODE_ENV=

# URL of the site
CLIENT_URL=

# Email SMTP configuration
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMPT_SECURE=
SMTP_IGNORETLS=
SMTP_USER=
SMTP_PASS=
