* {
  color: var(--text-primary);
}

ul {
  list-style: inherit;
}

.hero {
  position: relative;
  isolation: isolate;
  text-align: center;
  padding: 8em 15%;
  background-color: var(--bg-card);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;

  width: 100%;
  min-width: 700px;
  height: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-mask-image: url("../media/logo.svg");
  mask-image: url("../media/logo.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background-color: var(--bg-card);
  filter: brightness(1.1);
  pointer-events: none;
}

.hero .title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-heading);
  line-height: 2.5lh;
}

.hero .subtitle {
  font-size: 1.5em;
  line-height: 1.2lh;
}

.hero .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  width: 100%;
  max-width: 65vw;
}

.hero .buttons > * {
  flex: 1;
  padding: 0.5em;
  font-size: 1.25em;
}

.hero .buttons i {
  font-size: 1.5em;
}

.container {
  width: 65em;
  max-width: 90%;
  min-height: 100svh;

  padding: 1em;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ruleCard {
  background: var(--bg-card);
  border-radius: 0.5em;
  padding: 1.875em;
  box-shadow: var(--shadow);
}

.ruleCard h2 {
  margin-bottom: 1.25em;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.625em;
}

.ruleCard ul {
  margin-left: 1.25em;
}

.ruleCard li:not(:last-child) {
  margin-bottom: 0.625em;
}

#cardValue {
  border-collapse: initial;
  width: 100%;
  margin-top: 1em;

  border: 1px solid var(--border-inactive);
  border-radius: 0.5em;
  overflow: hidden;
}

.highlightBox {
  background-color: #3b4335;
  border-left: 5px solid var(--brand-green);
  padding: 0.9375em 1.25em;
  margin: 1.25em 0;
  border-radius: 0 0.375em 0.375em 0;
  color: #e2e2e2;
}

.warningBox {
  background-color: #422929;
  border-left: 5px solid var(--accent-red);
  padding: 0.9375em 1.25em;
  margin: 1.25em 0;
  border-radius: 0 0.375em 0.375em 0;
  color: #e2e2e2;
}

@media (max-width: 768px) {
  .homePage {
    height: 100svh;
    display: flex;
    flex-direction: column;
  }

  .hero {
    flex: 1;
    justify-content: center;

    padding: 0 2em;
  }

  .hero .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-heading);
    line-height: 2.5lh;
  }

  .hero .subtitle {
    font-size: 1.25em;
  }

  .hero .buttons > * {
    font-size: 1em;
  }

  .hero .buttons {
    width: 100%;
    max-width: 100%;

    flex-direction: column;
  }

  .hero .buttons > * {
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0.5em;

    gap: 0.5em;
  }

  .ruleCard {
    padding: 1em;
  }

  .ruleCard h2 {
    margin-bottom: 0.25em;
  }
}
