#resetPasswordContainer {
  width: min(24em, 50%);
  background-color: var(--bg-card);
  border-radius: 0.5em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 2em;
}

#resetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#backToLogin {
  width: min(24em, 50%);
  background-color: var(--bg-dark);
  color: var(--text-link);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  text-align: center;
  padding: 0.5em;
  transition: color ease-in-out 100ms;
}

#backToLogin:hover {
  color: var(--text-link-hover);
}

.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  width: 100%;

  color: var(--text-primary);
}

.state .inputWithError {
  min-width: 0;
  width: 100%;
}

.state .inputWithIcon {
  width: 100%;
}

#resetButton {
  padding: 0.75em;
  color: var(--text-primary);
  font-weight: bolder;
  font-size: 1.25em;
  border-radius: 0.5em;
}

.state svg {
  font-size: 3em;
}

.inputWithIcon svg {
  font-size: initial;
}

.state span {
  color: var(--text-secondary);
  font-weight: normal;
  font-size: 0.75em;
  margin-top: -0.25em;
}

.state .actions {
  display: flex;
  gap: 1em;
  width: 100%;
  flex-direction: column;
  margin-top: 1em;
}

.state .actions a,
.state .actions button {
  flex: 1;
  padding: 0.75em;
  border-radius: 0.5em;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.success {
  color: var(--brand-green) !important;
}

.error {
  color: var(--accent-red) !important;
}

.warning {
  color: #ffc107 !important;
}

.inputError {
  color: var(--accent-red);
  font-size: 0.75em;
  width: 100%;
  margin-top: 0.25em;
}

.iconContainer .icon {
  transition: color 200ms ease-in-out;
}

.iconContainer:hover .icon {
  color: var(--icon-active);
}

/* Properties for mobile */
@media (max-width: 768px) {
  #resetPasswordContainer,
  #backToLogin {
    width: 90%;
  }

  #resetPasswordContainer {
    padding: 1.25em;
  }
}
